[Unit]
Description=Gerbera
After=network-online.target

[Container]
Image=docker.io/gerbera/gerbera:latest
ContainerName=gerbera
AutoUpdate=registry
Network=host
Volume=/home/rina/Media/downloads:/mnt/content:ro
Volume=gerbera.volume:/var/run/gerbera:Z
Environment=UID=1000
Environment=GID=1000

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
