[Unit]
Description=qBittorrent
After=network-online.target

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=torrent
AutoUpdate=registry
PublishPort=8080:8080
PublishPort=6881:6881
PublishPort=6881:6881/udp
PublishPort=21027:21027/udp
Environment=PUID=0
Environment=PGID=0
Environment=TZ=Australia/Brisbane
Environment=WEBUI_PORT=8080
Environment=TORRENTING_PORT=6881
Volume=/home/rina/Media/downloads:/downloads:z
Volume=qbittorrent.volume:/config:Z

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
