[user]
	name = rina
	email = k@rina.fyi
	signingkey = /home/rina/.ssh/id_ed25519.pub
[alias]
	cl = clone
	c = commit
	a = add
	s = status
	co = checkout
	l = log
	d = diff
	pu = pull --all
[core]
	editor = nvim
[pull]
	rebase = true
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/rina/.ssh/allowed_signers
[diff]
	wsErrorHighlight = all
