[user]
	name = rina
	email = k@rina.fyi
[alias]
	cl = clone
	c = commit
	a = add
	s = status
	co = checkout
	l = log
	d = diff
[core]
	editor = nvim
[pull]
	rebase = true
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
[push]
	autoSetupRemote = true
